@import "includes/_normalize.scss";
@import "includes/base";

body {

  font-family: 'Terminal Dosis Light', sans-serif;

  &.line {
    @media (min-width: 721px) {
      background: {
        image: url('/img/line.png');
        repeat: no-repeat;
        position: bottom 83px right 50px;
        attachment: fixed;
      }
    }
  }

  &.bg {
    background: {
      color: #ddd;
      image: url('/img/bg.jpg');
      repeat: no-repeat;
      position: center center;
      attachment: fixed;
      size: cover;
    }

    @media (max-width: 720px) {

      header {
        top: 0;
        left: 0;
        padding: 20px;
        width: calc(100% - 40px);
        background: rgba(255, 255, 255, 0.2) !important;
      }
    }
  }

}

@mixin clearselection {
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  border: none;
  text-decoration: none;
  &::selection {
    background: transparent;
  }
}

/*	HEADER
–––––––––––––––––––––––––––*/
*::selection {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
}

header {

  position: fixed;
  top: 40px;
  left: 40px;

  h1 {
    display: block;
    height: 38px;
    width: 164px;
    margin: 0;

    a {
      border: none;
      display: block;
      background: url('/img/logo.png') no-repeat;
      background-size: cover;
      height: 38px;
      width: 164px;
      text-indent: -99999px;

      @include clearselection;

      &:hover,
      &:focus,
      &:active {
        @include clearselection;
      }
    }

  }

  .hamburger {
    display: none;
  }

  nav {
    display: block;
    margin-top: 40px;
    margin-left: 5px;

    ul {
      list-style: none;
    }

    li {
      list-style: none;
      margin: 0 0 15px 0;
      padding: 0;

      a {
        color: #000;
        font-size: 21px;
        line-height: 32px;
        text-decoration: none;
        background: rgba(255, 255, 255, 0.4);
        padding: 3px 8px;
        display: inline-block;
        border: none;

        &:hover,
        &:active,
        &.active {
          border: none;
          text-decoration: line-through;
        }

        &.active {
          margin: {
            bottom: 15px;
          }
        }

      }

      &.active {
        ul {
          margin: {
            left: 20px;
          }

          a {
            font-size: 16px;
            line-height: 26px;
            padding: 1px 5px;

            &.active {
              margin: 0;
            }

          }
        }
      }

    }

  }

  @media (max-width: 320px) {

    nav {
      ul {
        margin-top: 120px;
      }
      li a {
        font-size: 25px;
        line-height: 50px;
      }
    }

  }

  @media (min-width: 321px) and (max-width: 720px) {

    nav {
      ul {
        margin-top: 150px;
      }
      li a {
        font-size: 35px;
        line-height: 60px;
      }
    }

  }

  @media (max-width: 720px) {

    top: 0;
    left: 0;
    padding: 20px;
    width: calc(100% - 40px);
    background: #e4e4e4;
    h1 {
      height: 27px;
      width: 130px;
      a {
        height: 27px;
        width: 130px;
      }
    }

    .hamburger {
      position: fixed;
      top: 21px;
      right: 20px;
      display: block;
      width: 30px;
      height: 30px;
      font-weight: normal;
      background: {
        image: url('/img/hamburger.svg');
        repeat: no-repeat;
        size: cover;
      }
      z-index: 1000;
      text-indent: -9999px;
      border: none;

      @include clearselection;

      &:hover,
      &:focus,
      &:active {
        @include clearselection;
      }
    }

    nav {
      opacity: 0;
      display: none;
      position: fixed;
      height: 100%;
      width: 100%;
      background: #fff;
      top: 0;
      left: 0;
      margin: 0;
      animation: fadeOutFromAll 0.5s ease-in;
      z-index: 999;
      ul li {
        margin-bottom: 10px;

        a {
          display: block;
          text-align: center;
        }

        &.active {

          ul {
            margin: 0;
            li {

            }
          }
        }

      }
    }

    &.active {

      h1 {
        position: fixed;
        z-index: 1001;
      }

      .hamburger {
        background: none;
        text-indent: 0;
        font: {
          size: 70px;
          weight: normal;
        }
        text-decoration: none;
        top: -4px;
        color: #aaa;
      }

      nav {
        display: block;
        opacity: 1;
        animation: fadeInFromNone 0.6s ease-out;
      }

    }

  }

  @media (orientation: landscape) and (max-width: 720px) and (min-width: 480px) {
    nav {
      ul {
        margin: {
          top: 85px;
        }
        column-count: 2;
        li {
          ul {
            column-count: 1;
          }
        }
      }
    }
  }

}

/*	CONTENT WRAPPER
–––––––––––––––––––––––––––*/

#wrapper {
  margin: 120px 40px 73px 300px;
  width: calc(100% - 340px);
  max-width: 800px;

  .row {
    clear: both;
    &:after {
      content: " ";
      clear: both;
      display: table;
    }
    margin: {
      bottom: 25px;
    }
    .column {
      float: left;
      &.two {
        width: 45%;
        margin: {
          right: 10%
        }
      }
      &.three {
        width: 30%;
        margin: {
          right: 5%
        }
      }
      &:last-child {
        margin: {
          right: 0;
        }
      }
    }
  }

  @media (max-width: 720px) {

    margin: 92px 20px 40px 20px;
    width: calc(100% - 40px);

    .row {
      .column {
        width: 100% !important;
        margin: {
          right: 0;
          bottom: 25px;
        }
        &:last-child {
          margin: 0;
        }
      }
    }

  }

  @media (max-width: 480px) {

    margin: 92px 20px 102px 20px;
    width: calc(100% - 40px);

    .row {
      .column {
        width: 100% !important;
        margin: {
          right: 0;
          bottom: 25px;
        }
        &:last-child {
          margin: 0;
        }
      }
    }

  }
}

/* about */
.about {

  .intro {
    margin: {
      bottom: 25px
    }
    &:after {
      content: " ";
      clear: both;
      display: table;
    }
    img {
      float: right;
      margin: {
        bottom: 25px;
        left: 50px;
      }
      width: 150px;
      border: 10px solid #dfdfdf;
      box-shadow: 0 0 35px 0 rgba(119, 119, 119, .25);
      border-radius: 3px;
      box-sizing: border-box;
    }
    p {
      text-align: justify;
      margin: {
        bottom: 15px;
      }
      line-height: 140%;
    }
  }

  @media (max-width: 480px) {
    .intro {
      img {
        float: none;
        margin: {
          left: 0;
        }
        width: 100%;
      }
    }
  }

  @media (max-width: 720px) {
    .education,
    .exhibitions {
      p {
        text: {
          align: center;
        }
      }
    }
  }

}

/* contact */
.contact {
  p {
    line-height: 180%;
  }

  @media (max-width: 720px) {

    p {
      text-align: center;
    }

  }
}

/* selected work */
.selectedwork {
  margin: {
    bottom: 40px;
  }
  .topic {
    h2 {
      display: inline-block;
      span {
        background: rgba(0, 0, 0, 0.75);
        color: #fff;
        padding: 5px 10px;
      }
      margin: {
        bottom: 40px;
      }
    }
    blockquote {
      margin: {
        left: 20px;
        bottom: 40px;
      }
      padding: {
        left: 20px;
      }
      border-left: 2px solid #aaa;
      display: block;
      p {
        font-style: italic;
        margin: {
          left: 0;
        }
      }
    }
    p {
      margin: {
        left: 20px;
      }
      &.tech {
        letter-spacing: 1px;
        word-spacing: 1px;
        font-size: 0.8em;
        margin: {
          bottom: 40px;
        }
      }
    }
    ul {
      margin: {
        left: 10px;
      }
      padding: 0;
      list-style: none;
      display: flex;
      flex-flow: row wrap;

      li {
        flex: 0 1 calc(20% - 20px);
        margin: {
          right: 10px;
          left: 10px;
          bottom: 20px;
        }
        a {
          display: block;
          border: none;
          img {
            display: block;
            width: 100%;
            border-radius: 2px;
            box-shadow: 0 0 35px 0 rgba(119, 119, 119, .5);
          }

          &:hover {
            border: none;
            img {
              box-shadow: 0 0 35px 0 rgba(119, 119, 119, .75);
            }
          }
        }
      }
    }
  }

  @media (max-width: 720px) {

    .topic {
      h2 {
        span {
          line-height: 50px;
        }
      }
      blockquote {
        margin: {
          left: 0;
        }
      }
      p {
        margin: {
          left: 0;
        }
      }
      ul {
        margin: {
          left: -10px;
          right: -10px;
        }
      }

    }
  }

  @media (max-width: 480px) {

    .topic {

      ul {
        display: block;
        li,
        li:first-child,
        li:last-child {
          display: block;
          width: 90%;
          margin: 0 auto 40px auto;
        }
      }

      p {
        margin: {
          left: 0;
        }
        &.tech {
          text: {
            align: center;
          }
        }
      }

    }
  }

  @media (max-width: 320px) {

    .topic {
      h2 {
        font-size: 1em;
        margin: {
          bottom: 20px;
        }
      }

      blockquote {
        margin: {
          bottom: 20px;
        }
      }

    }
  }

}

/*	FOOTER
–––––––––––––––––––––––––––*/

footer {
  position: fixed;
  bottom: 0;
  right: 10px;
  font-size: 0;

  span {
    background: rgba(255, 255, 255, 0.3);
    padding: 5px 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.5px;

    em {
      font-style: normal;
      font-weight: bold;
    }

  }

  @media (max-width: 480px) {

    width: calc(100% - 20px);
    left: 10px;

    span {
      display: block;
      margin-left: 0;
      text-align: center;
      font-size: 10px;
    }

  }

}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  0.01% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOutFromAll {
  0% {
    display: block;
    opacity: 1;
  }

  0.01% {
    display: block;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}
