doctype html
html
    head
        title= title
        include ../_partials/head

    body

        include ../_partials/header

        div(id="wrapper")
            block content

        include ../_partials/footer

        script(type="text/javascript" src="/js/scripts.js" async)