doctype html
html
    head
        title= title
        include ../_partials/head

    body.bg

        include ../_partials/header

        div#wrapper
            block content

        include ../_partials/footer

        script(type="text/javascript" src="/js/scripts.js")