extends _layouts/basicline

block link
    -var selected = 'contact.html';

block content
    h1 Contact

    div(class="contact")
        p
            a(href="mailto:zoe_dw@hotmail.com") zoe_dw@hotmail.com
            br
            | GSM +32 472/75.44.97
