extends _layouts/basicline

block link
    -var selected = 'selected-work';

block content

    div.selectedwork

        div.topic
            h2
                span OUTSIDE THE LINES, 2011

            blockquote
                p
                    | Inspired by rice fields.
                    br
                    | Cardboard was the best way to display my interpretation.

            p.tech
                | Mixed media on cardboard on wooden frame, 320 x 490 cm

            ul
                li
                    a(href="img/work/ricefields/1.jpg" title="")
                        img(src="img/work/ricefields/1_t.jpg", alt="")
                li
                    a(href="img/work/ricefields/2.jpg" title="")
                        img(src="img/work/ricefields/2_t.jpg", alt="")
                li
                    a(href="img/work/ricefields/3.jpg" title="")
                        img(src="img/work/ricefields/3_t.jpg", alt="")
                li
                    a(href="img/work/ricefields/4.jpg" title="")
                        img(src="img/work/ricefields/4_t.jpg", alt="")
                li
                    a(href="img/work/ricefields/5.jpg" title="")
                        img(src="img/work/ricefields/5_t.jpg", alt="")


