extends _layouts/basicline

block link
    -var selected = 'selected-work';
block sublink
    -var subselected = 'series-of-landscapes';

block content

    div.selectedwork

        div.topic
            h2
                span Series of landscapes, 2011

            blockquote
                p
                    | Series of always the same landscape,
                    br
                    | started from the same landscape.
                    br
                    | To look at a landscape there are many ways, it is infinite.
                    br
                    | A landscape changes over time,
                    br
                    | it never stays the same, 'Panta rei'
                    br
                    | what can happen?
                    br
                    | Nobody knows.

            p.tech
                | Mixed media on paper, and wax, 29,5 X 20,5 cm

            ul
                li
                    a(href="img/work/landscapes/1.jpg" title="")
                        img(src="img/work/landscapes/1_t.jpg", alt="")
                li
                    a(href="img/work/landscapes/2.jpg" title="")
                        img(src="img/work/landscapes/2_t.jpg", alt="")
                li
                    a(href="img/work/landscapes/3.jpg" title="")
                        img(src="img/work/landscapes/3_t.jpg", alt="")
                li
                    a(href="img/work/landscapes/4.jpg" title="")
                        img(src="img/work/landscapes/4_t.jpg", alt="")
                li
                    a(href="img/work/landscapes/5.jpg" title="")
                        img(src="img/work/landscapes/5_t.jpg", alt="")
                li
                    a(href="img/work/landscapes/6.jpg" title="")
                        img(src="img/work/landscapes/6_t.jpg", alt="")
                li
                    a(href="img/work/landscapes/7.jpg" title="")
                        img(src="img/work/landscapes/7_t.jpg", alt="")
                li
                    a(href="img/work/landscapes/8.jpg" title="")
                        img(src="img/work/landscapes/8_t.jpg", alt="")
                li
                    a(href="img/work/landscapes/9.jpg" title="")
                        img(src="img/work/landscapes/9_t.jpg", alt="")


