header
    h1
        a(href="") Zoë De Winter

    a.hamburger(href="") &times

    nav
        ul
            block link
                -var selected = ''; //default

            -var menu = { 'Selected work': 'selected-work.html', 'Art advisory': 'art-advisory.html', 'About': 'about.html', 'Contact': 'contact.html' };
            //-var menu = { 'Selected work': 'selected-work', 'Art advisory': 'art-advisory', 'About': 'about', 'Contact': 'contact' };
            each val, key in menu

                if selected === val
                    li.active
                            a.active(href=val, title=key)= key

                            ul
                                block sublink
                                    -var subselected = ''; // default

                                -var work = { 'Outside the lines': 'outside-the-lines.html', 'Series of landscapes': 'series-of-landscapes.html'};
                                //-var work = { 'Outside the lines': 'outside-the-lines', 'Series of landscapes': 'series-of-landscapes'};
                                each val, key in work
                                    li
                                        if subselected === val
                                            a.active(href=val, title=key)= key
                                        else
                                            a(href=val, title=key)= key

                else
                    li
                        a(href=val, title=key)= key