header
    h1
        a(href="") Zoë De Winter
    a(href="" class="hamburger") &times
    nav
        ul
            block link
                -var selected = ''; //default
            -var menu = { 'Selected work': '', 'Art advisory': 'art-advisory.html', 'About': 'about.html', 'Contact': 'contact.html' };
            each val, key in menu
                li
                    if selected === val
                        a.active(href=val, title=key)= key
                    else
                        a(href=val, title=key)= key